{% extends 'base.html' %}
{% block content %}
<h2>Выберите мороженое</h2>
	{% for icecream in icecreams %}
  	<div class="icecream_box">
    		<img alt="icecream" class="icecream_img" src="media/{{icecream.image}} "/>
    		<p class="icecream_text">{{ icecream.name }}</p>
  	<div class="number">
            <button class="number-minus" type="button" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">-</button>
            <input type="number" min="0" value="0" step="25" readonly>
            <button class="number-plus" type="button" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">+</button>
        </div>
        <button class="button">В корзину</button>
	</div>
	{% endfor %}
{% endblock content %}
